body{
    margin:0;
    background-color: #1c1c1c;
    overflow:scroll;
}

#about_item{
    background: url(./bar/about_active.png) no-repeat center;
    background-size: 100%;
}

#about_container{
    width: 100%;
    height: auto;
    margin-bottom:7vh;
    width: 100%;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#about_container>img{
    width: 100%;
    display: block;
}